# Variables EmailJS — obligatoires en production (Vercel)
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_2avk0r7
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_ccbatpt
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=hXSePAJea6lnvfgB4
